/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: lighter;
}

/* || Home page styles  ||*/

.home-page {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219 198 241);
}

.home-container {
  width: 30%;
  height: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-radius: 25px;
  background-color: rgb(153 91 192);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-page-header {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-current-date {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: rgb(255 255 255);
  font-size: 1.8rem;
  font-weight: 100;
}

.home-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  color: white;
}

.home-second-row .day h2 {
  font-size: 1.4rem;
  font-weight: 100;
}

.add-new-btn {
  width: 5.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: rgb(124 52 169);
  cursor: pointer;
  box-shadow: rgba(25, 24, 24, 0.2) 0px 2px 8px 0px;
}

.home-main-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px 0 0;
  background-color: rgb(236 232 232);
  padding: 1rem;
  height: 70%;

}

.home-date-row {
  display: flex;
  justify-content: space-around;
}

.home-dates {
  width: 4rem;
  border: none;
  height: 3rem;
  border-radius: 10px;
  background-color: rgb(212 194 247);
  text-align: center;
  place-content: center;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
  background-color: rgb(163 138 211);
  width: 4rem;
  border: none;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
  place-content: center;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-dates:hover {
  background-color: rgb(169 168 170);
}

.home-moreDate-btn {
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-moreDate-btn:hover {
  background-color: #acacac;
}

.home-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  height: 90%;
}

.line-through {
  text-decoration: line-through;
}

.home-tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  height: 100%;
  overflow-y: scroll;
}

.home-tasks::-webkit-scrollbar {
  display: none;
}

.home-task {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 4fr 0.6fr;
  place-items: center;
  padding: 1rem 0.4rem;
  background-color: rgb(225 195 246);
  border-radius: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.home-task-deleteBTN {
  color: rgb(180 23 23);
}

.home-task-checkbox {
  width: 60%;
  height: 60%;
  accent-color: rgb(153 91 192);
}

.home-task-main {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  font-size: 0.9rem;
}

.home-task-time {
  font-size: 0.9rem;
}

.home-task-empty {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.home-task:hover {
  background-color: rgb(205 132 250);
}

/* || Task component styles || */

.task-page-backDrop {
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-page-contianer {
  background-color: rgb(153 91 192);
  width: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 50%;

  font-weight: 100;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* gap: 2rem; */
}

.task-page-header {
  height: 30%;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.border {
  background: linear-gradient(135deg, #ffff, #000000, #ffffff);
  width: 60%;
  height: 2px;
  align-self: center;
}

.task-page-contianer h1,
.task-page-contianer h2 {
  font-weight: 100;
}

.bold {
  font-weight: bold;
}

.task-page-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 2rem;
  border-radius: 30px 0 20px 20px;
  gap: 1rem;
  background-color: #ffff;
  height: 70%;
}

.task-page-closeBTN {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #211e1e;
}

.task-page-time,
.task-page-status {
  text-align: center;
}

.task-page-deleteBTN {
  font-size: inherit;
  width: 30%;
  height: 40px;
  align-self: center;
  background-color: red;
  border: none;
  border-radius: 10px;
  color: #ffff;
}

/* || Calender component styles || */

.calendar-backDrop {
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calendar-page-main {
  position: relative;
  background-color: #fff;
  width: 30%;
  height: 60%;
  padding: 4rem 2rem 2rem;
  border-radius: 20px;
}

.calendar-page-clsBTN {
  position: absolute;
  top: 3%;
  right: 3%;
  border: none;
  background-color: #fff;
  font-size: 1.5rem;
}

/* || create task component styles || */

.createTask-page {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(219 198 241);
}

.createTask-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(239 238 238);
  border-radius: 30px;
  overflow: hidden;
  height: 95%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.createTask-herder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  position: relative;
}

.createTask-herder h2 {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.createTask-herder button {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all linear 0.1s;
}

.createTask-herder button:hover {
  transform: scale(1.1);
}

.createTask-main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 70px 0 0;
  gap: 0.5rem;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createTask-calender-container {
  padding: 1rem 3rem;
  height: 50%;
}

.createTask-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;

  /* gap: 2rem; */
  justify-content: space-between;
  height: 50%;
}

.createTask-form input {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: 0.1px solid rgb(193, 191, 191);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createTask-form textarea {
  width: 100%;
  height: 80px;
  padding: 1rem;
  border-radius: 6px;
  border: 0.1px solid rgb(193, 191, 191);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createTask-submit-btns {
  display: flex;
  justify-content: space-around;
}

.createTask-form button {
  background-color: rgb(153, 99, 186);
  width: 40%;
  color: #fff;
  border: none;
  padding: 1rem 0;
  border-radius: 6px;
}

.ember-power-calendar-nav-title {
  font-size: 1rem;
  font-weight: bold;
  color: #00ffb4;
  text-align: center;
}

.cal-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cal-nav button {
  font-size: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cal-nav button:hover {
  transform: scale(1.3);
}

/* .ember-power-calender{

} */

/* Weekday row */
.ember-power-calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #ccc;
}

/* Calendar grid */
.ember-power-calendar-days {
  display: grid;
  gap: 6px;
  margin-top: 10px;
}

.ember-power-calendar-day-grid {
  display: grid;
  grid-template-rows: repeat((5, 1fr));
  min-height: 100%;
  gap: 1rem;
  overflow: hidden;
}

.ember-power-calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-self: center;
}

.ember-power-calendar-week button {
  border: 0.1px solid rgb(40 39 39);
}

/* Each day */
.ember-power-calendar-day {
  text-align: center;
  padding: 4px 0;
  width: 25px;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  justify-self: center;
}

/* Hover */
.ember-power-calendar-day:hover {
  background: #272727;
  color: #eae8e8;
}

/* Today */
.ember-power-calendar-day--today {
  border: 1px solid #000;
  background-color: rgb(60 61 61);
  color: #fefbfb;
}

/* Selected day */
.ember-power-calendar-day--selected {
  background: #787878;
  color: #000;
  font-weight: bold;
}

/* Disabled days (prev/next month) */
.ember-power-calendar-day--other-month {
  opacity: 0.3;
}


/* || 404 page styles || */

.not-found-page {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  
}

.not-found-page h1 {
  font-size: 80px;
  color: #ff4d4f;
}

.back-home {
  padding: 10px 20px;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  width: 150px;
}

/* || Tablet styles || */

@media screen and (max-width: 888px) {
  .home-container,
  .task-page-contianer,
  .calendar-page-main,
  .createTask-container {
    width: 55%;
  }

  .home-container,
  .createTask-container {
    height: 75%;
  }

  .task-page-contianer,
  .calendar-page-main {
    height: 40%;
  }
}

/* || Mobile styles || */

@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .home-container,
  .task-page-contianer,
  .calendar-page-main,
  .createTask-container {
    border-radius: 0px;
    width: 100%;
  }

  .home-container,
  .createTask-container {
    height: 100%;
  }

  .task-page-contianer,
  .calendar-page-main {
    height: 60%;
  }

  .home-page-header {
    justify-content: space-evenly;
  }

  .home-current-date {
    margin-top: 1rem;
  }
}
